
.container {
  height: 100%;
  width: 100%;
}

.cuddly-pink {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.dark-purple {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(31,9,14,1) 100%);
}
